.vsconfig
.vs/MyGameDemo/v16/.suo
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
LoopScrollRect.Editor.csproj
LoopScrollRect.Runtime.csproj
MyGameDemo.sln
UnityGameFramework.Editor.csproj
UnityGameFramework.Runtime.csproj
Assembly-CSharp.csproj
zframework.ui.joystick.csproj
zframework.ui.joystick.demo.csproj
zframework.ui.joystick.editor.csproj
Library/
obj/
Temp/
Android/
Assets/StreamingAssets/
